
<h1>My Todo List</h1>



<div >
	<div class="row">
		<div class="col-md-3">
			<b>Todo</b>
		</div>
		<div class="col-md-3">
			<b>Description</b>
		</div>
		<div class="col-md-3">
			<b>Operations</b>
		</div>
		<br>
		<br>
	</div>
	<div class="row table table-striped" *ngFor="let todo of todos;let i=index">
		<div class="col-md-3">
			{{i+1}} {{todo.task}}
		</div>
		<div class="col-md-3">
			{{todo.description}}
		</div>
		<div class="col-md-1">
			<button class="btn btn-danger" (click)="delete(todo)">Delete</button>
		</div>
		<div class="col-md-1">
			<button class="btn btn-primary" (click)="updateTodo(todo)">Edit</button>
		</div>
		<br>
		<br>
	</div>
	<button class="btn btn-primary" (click)="newTodo()">ADD NEW TODO</button>
</div>